@model OWL.Core.Models.Character

@{
    ViewData["Title"] = "Create Character";
}

<link rel="stylesheet" type="text/css" href="~/css/AddChar.css" />

<body>
    <div class="body">
        <h1>Add Character</h1>
        @using (Html.BeginForm("AddChar", "Character", FormMethod.Post))
        {
            <div class="grid-container">
                <div class="main-divs grid-item">
                    <label for="name">Name</label>
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "John Doe" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="tip-text grid-item">
                    <h1>The name of the character. Is required</h1>
                </div>
            </div>

            <div class="grid-container">
                <div class="main-divs grid-item">
                    <label for="description">Description</label>
                    @Html.TextBoxFor(m => m.Description, new { placeholder = "A warrior from another world" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
                <div class="tip-text grid-item">
                    <h1>Write down a short description of the character</h1>
                </div>
            </div>

            <div class="grid-container">
                <div class="main-divs grid-item">
                    <label for="image">Image</label>
                    @Html.TextBoxFor(m => m.Image, new { placeholder = "https://example.com" })
                    @Html.ValidationMessageFor(m => m.Image)
                </div>
                <div class="tip-text grid-item">
                    <h1>Image for the character</h1>
                </div>
            </div>

            <div class="grid-container">
                <div class="main-divs grid-item">
                    <label for="fightstyle">Fightstyle</label>
                    @Html.DropDownList("selectedStyleId", (SelectList)ViewBag.Fightstyles, "Select Fightstyle")
                    @Html.ValidationMessage("selectedStyleId")
                </div>
                <div class="tip-text grid-item">
                    <h1>Select the fightstyle of the character</h1>
                </div>
            </div>

            <div>
                <button type="submit">Create Character</button>
            </div>
        }
    </div>
</body>